<section class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-md-2 col-lg-4 offset-lg-3 offset-xl-4">
        <div class="logo text-center">
          <img src="../../../assets/images/logo.png" class="img-fluid" alt="logo">
        </div>
        <form class="rounded bg-white shadow-lg p-5" [formGroup]="loginForm" (ngSubmit)="onLoginUser()">
          <h3 class="text-dark fw-bold fs-4 mb-2 text-center ">Login to Company Name</h3>
          <div class="fw-normal text-muted mb-4 text-center">
            New Member? <a class="fw-blod text-primary text-decoration-none" routerLink="/signup">Create An
              Account</a>
          </div>
          <hr>
          <!-- login form input -->
          <div class="mb-md-2">
            <label class="mb-md-2">Mobile Number</label>
            <input type="Number" class="form-control" placeholder="Mobile Number here" formControlName="mobile"
              [ngClass]="{'is-invalid': submitted && f.mobile.errors}">
            <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
              <div *ngIf="f.mobile.errors.required">Mobile No is required</div>
              <div *ngIf="f.mobile.errors.minlength">Mobile must be at least 10 characters</div>
              <div *ngIf="f.mobile.errors.maxlength">Mobile must be at maximum 10 characters</div>
            </div>
          </div>
          <div class="mb-md-2">
            <label class="mb-md-2">Password</label>
            <input type="password" class="form-control" placeholder="Password here" formControlName="password"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
              <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
          </div>

          <button type="submit" class="btn btn-secondary sumbit_btn w-100 my-4"><i class="fa fa-sign-in mx-2" aria-hidden="true"></i>Login</button>
        </form>

      </div>
    </div>
  </div>
</section>
